.box {
    width: 100%;
    margin: auto 0;
}

.main {
    height: 100%;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

.board {
    padding-left: 5rem;
}